 /* NavBar */
 .navbar-nav > .nav-item > .nav-link:hover,
 .navbar-brand:hover {
   color: gold !important;
 }

 .navbar-brand.active {
   display: block;
   margin-left: 200px;
 }

 section {
   display: none;
 }

 .active {
   display: block;
 }
 
    /* SideBar */
 .sidebar {
     position: fixed;
     top: 0;
     left: 0;
     height: 100%;
     width: 55px;
     background-color: black;
     z-index: 2;
     overflow-x: hidden;
     padding-top: 80px;
 }

 .sidebar a {
     display: block;
     padding: 5px;
     color: white;
     font-size: 20px;
     transition: all 0.3s ease;
 }

 .sidebar a:hover {
     background-color: #bec2c9;
 }

 .themed-grid-col {
   padding-left: 130px;
   padding-right: 100px;
 }

 .mt-4 {
   padding-top: 50px;
 }

 ul.no-bullets {
   list-style: none;
 }
 
 /* Footer */
 .footer {
     background-color: black;
     padding: 5px;
     text-align: center;
     color: #fff;
     position: fixed;
     bottom: 0;
     width: 100%;
     z-index: 3;
 }